.battle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    > div {
        text-align: center;

        img {
            height: 200px;
        }
    }
}

.battlelog {
    text-align: center;
    list-style-type: none;
}

footer {
    text-align: center;
}